/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-container {
  background-color: #150b3e;
  min-height: 60vh;
  width: 30vw;
  border: none;
  border-radius: 15px;
  margin-top: 25px;
}
.name-container {
  display: flex;
  padding: 25px;
  margin-bottom: 15px;
}

.letter {
  height: 35px;
  width: 35px;
  border-radius: 45px;
  background-color: #c7d2fe;
  color: #7c3aed;
  font-size: 15px;
  margin-right: 12px;
  text-align: center;
}
.name {
  font-family: 'Roboto';
  font-size: 15px;
  color: #c7d2fe;
  font-weight: 500;
}

.in-rupees-container {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.your-balance-heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #585076;
  font-weight: 400;
}

.count {
  font-size: 25px;
  color: #d4d2db;
}
.ul-container {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}
.in-rupee {
  font-family: 'Roboto';
  font-size: 15px;
  color: #585076;
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #c7d2fe;
  font-weight: 600;
  padding-left: 25px;
}
.description {
  font-family: 'Roboto';
  font-size: 18px;
  color: #585076;
  font-weight: 400;
  padding-left: 25px;
}
